@charset 'utf-8';

body{
  margin: 0;
  font-family: 'Sigmar One', cursive;
  
}
/* ローディング画面 */
#loading{
  background-color: #fcf2f2ea;
  position: fixed;
  inset: 0; 
  z-index: 10001;
  display: grid;
  place-items: center;
}
#loading-screen{
  background-color:#D3FBAB; 
  position: fixed;
  inset: 0;
  z-index: 10000;
  translate: 0 100vh;
}


#loading p{
  font-size: 2rem;
  font-family: var(--oswald-font);
}
/* ヘッダー */
.header_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:16px;
  background: rgba(184, 230, 194,0.8);
  z-index: 1;
  
}
#logo{
  cursor: pointer;
}
.pc-menu{
  display: none;

}
/* ハンバーガーメニュー */
.material-icon{
  font-size: 40px;
  color: pink;
  cursor: pointer;
}
.hidden{
  display: none;
}

#open{
  position: relative;
}
#open.show{
  display: none;
}
#close{
  position:absolute;
  top: 20px;
  right: 18px;
}
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  display: none;
  background: rgba( 184,230,194, 0.8);
  pointer-events: none;
  transition:opacity .8s;
  z-index: 2;
 }
.overlay.active{
  display: block;
  pointer-events: auto;
  transition-delay: 5s;
}
.overlay ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.overlay ul a{
  text-decoration: none;
  color:  #fff;
  -webkit-text-stroke: 1px #74ccac;
  font-size: 30px;
  cursor: pointer;
}
.overlay ul a:hover{
  color: #D3FBAB;
}


/* ヒーロー部分 */
.main-container{
  max-width: 100%;
  height: 300px;
  overflow: hidden;
}
.main-container ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  transition: transform .3s;
}
.main-container li{
  list-style-type: none;
  height: 100%;
  min-width: 100%;
}
.main-container img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}


/* コンセプト */

.concept-container {
  text-align: center;
 
}
.concept-container h2{
  margin-top: 45px;
  font-size: 36px;
  color: #74ccac;
}
.concept-container p{
  text-align: left;
  padding: 0 16px;
  font-size: 16px;
  color:rgb(110, 110, 143);
}

.concect-box img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.concect-box.second{
  height: 250px;
  padding: 0 16px;
}

/* メニュー */
.menu-container{
  text-align: center;
}
.menu-container h2{
  font-size: 36px;
  color: #74ccac;
}
.menu-wrapper{
  margin: 0 auto;
  padding: 16px;
}
.menu-img h3{
  text-align: left;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 20px;
  color: rgb(110, 110, 143);
  background-color: rgb(238, 238, 238,.5);
  position: absolute;
  z-index: 1;
}
.menu-img{
  opacity: 0; /* 最初は非表示 */
  transform: translateY(30px); /* 下に30pxの位置から */
  transition: opacity .8s, transform .8s; /* 透過率と縦方向の移動を0.8秒 */
}
.menu-img img{
  object-fit: cover;
  width: 100%;
  height: 240px;
  border-radius: 35px;
  box-sizing: border-box;padding: 5px;
  position: relative;
}
.menu-img.active{
  opacity: 1; /* 表示領域に入ったら表示 */
  transform: translateY(0); /* 30px上に移動する */
  transition-delay: .5s; /* フェード開始を0.5秒遅らせる */
}

.menu-container table{
  margin: 0 auto;
  border: 3px solid #D3FBAB;
  border-spacing: 0;
  border-radius: 5px;
}
.menu-container table th{
  border: 3px solid #D3FBAB;
  background: #eeeeee;
  padding: 8px;
}
.menu-container table td{
  border: 2px solid #D3FBAB;
  padding: 8px;
}
.menu-container a{
  text-decoration: none;
  color: rgb(215, 147, 115);
}
.menu-container a:hover{
  color: rgb(215, 147, 115,.6);
}
/* アクセス */
.access-container{
  text-align: center;
}
.access-container h2{
  font-size: 36px;
  color: #74ccac;
}
.access-container table{
  margin: 0 auto;
}
.access-container iframe{
  width: 90%;
  padding-top: 17px;
  height: 400px;
}
/* コンタクト */
.contact-container{
  padding: 16px;
  text-align: center;
}
.contact-container h2{
  font-size: 36px;
  color: #74ccac;
}
.contact-container p{
  padding:0 16px;
  font-size: 16px;
}








/* グッズ */
#liner{
  position: relative;
  width: 100vw;
  background: #eeeeee;
  display: flex;
  overflow: hidden;
  
}
#liner ul {
  padding: 0;
  width: 100vw;
  display: flex;
  flex-shrink: 0;
}
#liner ul:first-child {
  animation: move-around 60s -30s linear infinite;
}

#liner ul:last-child {
  animation: move-around2 60s linear infinite;
}
#liner ul li{
  display: inline-block;
  width: 100%;
  min-width: 150px;
  margin-right: 20px;
  list-style: none;
  text-align: center;
}
#liner ul img {
  display: block;
  width: 100%;
  height: auto;
}

@keyframes move-around{
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes move-around2{
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
/* フッター */
footer{
  height: 100px;
  text-align: center;
  align-items: center;
  background: #74ccac;
}
.footer-icon{
  display: flex;
  justify-content: center;
}
.footer-icon i{
  padding:8px;
  font-size: 20px;
}
/***************** PCメニュー *********************/
@media screen and (min-width: 768px){
  .sp-menu{
    display: none;
  }
  .pc-menu{
    display: block;
  }
  .header_menu{
    display: flex;
  }
  .header_menu ul{
    display: flex;
  }
  .header_menu li{
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
  }
  .header_menu li a{
    color:  #fff;
    -webkit-text-stroke: 1px #74ccac;
    text-decoration: none;
    
  }
  .header_menu li a:hover{
    color:#D3FBAB;
  }
  .main-container{
    text-align: center;
    height: 450px;
  }
  .main-container img{
    height: 450px;
  }
/* サブメニュー*/
.sub-menu{
  margin-left: -40px;
  position: absolute;
  text-align: center;
}
.sub-menu a{
  display: none;
  font-size: 18px;
}
  /* PC コンセプト */
  .concept-container p{
    text-align: left;
    padding: 0 20px;
    font-size: 18px;
  }
  .concect-wrapper{
    display: flex;
    padding: 16px;
  }
  .concect-box{
    flex: 1;
    height: 250px;
    display: inline-block;
  }

  /* pc メニュー */
  .menu-wrapper{
    display: flex;
  }
  .menu-img {
    width: max-content;
    margin: 16px;
    flex: 1;
  }
  .menu-img h3{
    font-size: 16px;
  }
  .menu-img .text{
    margin-top: 30px;
  }

  /* アクセス */
  .access-wrapper{
    display: flex;
  }
  .access-wrapper table{
    flex: 1;
    margin: 30px;
    border: 3px solid #74ccac ;
  }
  .access-wrapper table th{
    padding: 16px;
  }
  .access-wrapper iframe{
    flex: 2;
  }
  .access-container iframe{
    width: 100%;
    padding: 30px;
    height: 400px;
  }
}