@charset "utf-8";

body{
  margin: 0;
  font-family:'Sorts Mill Goudy', serif;
  background: #EADFCA;
}
/*sp-header */

header{
  background-color: rgba(170,153,138,0.8);
  position: fixed;
  padding: 16px;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}
.sp-menu{
  display: flex;
  align-items: center;
}
.pc-menu{
  display: none;
}
.sp-nav{
  margin-left: auto;
}
.sp-logo{
  width: 160px;
  height: 70px;
}
.sp-logo img{
  width: 160px;
  height: 70px;
}
.sp-menu #open{
  font-size: 32px;
  cursor: pointer; 
}


.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(170,153,138,0.95);
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition:opacity .8s;
  z-index: 1;
  
}
.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
.overlay #close{
  position: absolute;
  top: 25px;
  right: 16px;
  font-size:32px;
  cursor: pointer;
}
.overlay ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.overlay li{
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s;
}

  
.overlay li a{
  color: #EADFCA;
  text-decoration: none;
  font-size: 24px;
}
.overlay.show li {
  opacity: 1;
  transform: none;
  
}
.overlay.show li:nth-child(1){
  transition-delay:.1s ;
}
.overlay.show li:nth-child(2){
  transition-delay:.2s ;
}
.overlay.show li:nth-child(3){
  transition-delay:.3s ;
}
.overlay.show li:nth-child(4){
  transition-delay:.4s ;
}


/* トップ画像 */
.carousel{
  width: 100%;
  margin: 0 auto;
}
.wrapper{
  position: relative;
}
.container{
  min-width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  transition: transform .3s;
}
.container li{
  list-style-type: none;
  height: 100%;
  min-width: 100%;
}
.container  li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#prev,
#next{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0,0,0,.8);
  color: #fff;
  font-size: 36px;
  padding: 0.8px 4px;
  cursor: pointer;
}
#prev:hover,
#next:hover{
  opacity: .8;
}

#next{
  right: 0;
}
.hidden{
  display: none;
}
.button-nav{
  position: absolute;
  bottom: 10px;
  left: 40%;
}
.button-nav button + button {
  margin-left: 8px;
}
.button-nav button{
  border: none;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.button-nav .current{
  background:#999 ;
}

/* concept */
.concept-container{
  background: #F4F3DF;
}
.concept-container h2{
  width: 160px;
  margin: 0 auto;
  color: #9AC3BC;
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  border-bottom: 1px solid #9AC3BC;
}
.concept-container img{
  border-radius: 20%;
  width: 100%;
  height: 100%;
  margin: 20px 0;
}
.concept-text{
  padding: 70px 16px;
}
.concept-text P{
  color: #794B4B;
}
.menu h2{
  width: 160px;
  margin: 0 auto;
  text-align: center;
  color: #9AC3BC;
  font-size: 40px;
  padding-top: 50px;
  border-bottom: 1px solid #9AC3BC;
}

.menu-container ul{
  padding: 0;
}
.menu-container li{
  list-style-type: none;
  text-align: center;
}
.menu-container img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.menu-container h3{
  font-family: 'M PLUS Rounded 1c Light';
  text-align: left;
  border-bottom: 2px solid black;
  font-size: 18px;
}
.drink-menu h3,.cake-menu h3{
  font-family: 'M PLUS Rounded 1c Light';
  text-align: left;
  border-bottom: 2px solid black;
  font-size: 18px;
}
.drink-menu h3::after{
  content: "  [hot/cold]";
  font-size: 12px;
  font-weight: normal;
}
.menu-list table{
  margin: 0 auto;
}
.menu-container p{
  font-size: 16px;
  text-align: left;
}
.menu-list table th{
  text-align: left;
  font-size: 16px;
}
.menu-list table td{
  text-align: center;
  font-size: 16px;
}
.drink-menu td{
  width: 200px; 
}

.cake-menu td{
  width: 200px; 
}
.menu-page{
  text-align: center;
  padding: 16px;
}
.drink-menu,.cake-menu{
  margin: 16px;
}
/* フッター */
footer{
  background: rgba(0,0,0);
  color: white;
  text-align: center;
  padding: 16px;
  align-items: center;
}
.footer-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer table{
  margin: 0 auto;
  font-size: 14px;
}
footer table tr{
  line-height: 50px;
}
footer ul{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  line-height: 50px;
}
footer li{
  list-style-type: none;
  margin-left:24px ;
}
footer p{
  margin: 0;
  line-height: 50px;
}
.bi-instagram{
  color: #E7973A;
}
.bi-twitter{
  color: #1da1f2;
}
.bi-facebook{
  color: #1877f2;
}
/* トップへ sp */
.go-to-top{
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: rgba(255,255,255,.7);
  color: #000;
  font-size: 20px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  z-index: 10;
  line-height: 1.4;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transition: all .2s;
  right: 10px;
}
.go-to-top.active {
  -webkit-transform: translateY(0);
  visibility: visible;
  opacity: 1;
  z-index: 1001;
}
.go-to-top a{
  text-decoration: none;
  color: white;
}
.bi-arrow-up{
  font-size: 18px;
  line-height: 1.9;
}
.bi-arrow-up::before{
  content: "↑";
}

/* menu.htmlページ */
.menu_page-container{
  height: 600px;
  min-width: 100%;
  opacity: .5;
  background-image: "../img/cake4.jpg";
  background-position: center;
  background-size: cover;  
}
.menu_page-container h1{
  position: absolute;
  top:300px;
  left: 30px;
  color: #000;
  font-size: 50px;
}
.menu-concept-container h2{
  width: 160px;
  margin: 0 auto;
  color: #9AC3BC;
  text-align: center;
  font-size: 40px;
  padding-top: 40px;
  border-bottom: 1px solid #9AC3BC;
}
/* Access.htmlページ */
.access_page-container{
  height: 600px;
  min-width: 100%;
  opacity: .7;
  background-image: "../img/access1.jpg";
  background-position: center;
  background-size: cover; 
}
/*-contact.htmlページ--------*/
.contact_page-container{
  height: 600px;
  min-width: 100%;
  opacity: .7;
  background-image: "../img/contact1.jpg";
  background-position: center;
  background-size: cover;
  position: relative; 
}
.contact_page-container h1{
  position: absolute;
  top:300px;
  left: 30px;
  color: #EADFCA;
  font-size: 50px;
}
.contact-wrapper h2{
  width: 160px;
  margin: 0 auto;
  color: #9AC3BC;
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  border-bottom: 1px solid #9AC3BC;
}
.contact-container{
  margin: 20px;
}
.contact-container table{
  margin: 0 auto;  
}
.contact-container input#name{
  width: 200px;
}
.contact-container input#email{
  width: 200px;
}
.contact-container textarea#text{
  width: 300px;
  height: 100px;
}

/******************************* パソコンページ *******************************/
@media screen and (min-width: 750px){
  .pc-menu{
    display: flex;
    align-items: center;
  }
  .sp-menu{
    display: none;
  }
  .pc-menu nav{
    margin-left:auto ;
  }
 
  .pc-menu ul{
    display: flex; 
    list-style: none;   
  }
  .pc-menu a{
    margin:0 10px;    
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  .pc-menu a:hover{
    color: rgb(201, 147, 113);
  }
  .logo img{
    width: 270px;
  }
  .button-nav {
    left: 46%;
  }
   /* トップ画像 */
  .container{
    height: 700px;
  }
  
  /* コンセプト */
  .concept-text{
    width: 800px;
    margin: 0 auto;
  }
  .concept-text{
    display: flex;
    justify-content: space-evenly;
  }
  .concept-text img {
    width: 40%;
  }
  .concept-text p{
    width: 360px;    
  }
  .menu-container{
    width: 800px;
    margin: 0 auto;
  }
  .menu-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 30px;
  }
  .menu-page{
    padding: 16px;
  }
 .menu-list{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 20px;
 }
.drink-menu table{
  border: none;
  margin: 0 auto;
}
.cake-menu table{
  margin: 0 auto;
}
.cake-menu h2{
  margin:0;
  padding: 0;
}

.contact-menu{
  width: 400px;
  
}
/* フッター */
footer table{
  margin: 0 auto;
  font-size: 18px;
}


}
